{% load static %}
<div class="question">
  <div class="row">
    <div class="col-2">
      <div class="avatar">
        <img src="{{ answer.author.avatar.url }}" alt="" />
      </div>
      <div class="voting">
        <span class="vote-count">{{answer.get_likes}}</span>
        {% csrf_token %}
        <button type="button" class="btn btn-light like-button" data-objectType="1" data-objectId="{{ answer.id }}">↑</button>
      </div>
    </div>
    <div class="col-10">
      <h2 class="question-title"> {{answer.title}}</h2>
      <div class="question-text mb-20">
        {{answer.text}}
      </div>
      <div class="form-check">
        {% if request.user.profile == question.author %}
            {% if answer.isCorrect %}
            <input type="checkbox" class="form-check-input correct-check" id="exampleCheck1" data-answerid="{{answer.id}}" data-questionid="{{question.id}}" checked>
            {% else %}
            <input type="checkbox" class="form-check-input correct-check" id="exampleCheck1" data-answerid="{{answer.id}}" data-questionid="{{question.id}}">
            {% endif %}
        {% else %}
          {% if answer.isCorrect %}
          <input type="checkbox" class="form-check-input correct-check" id="exampleCheck1" checked disabled>
          {% else %}
          <input type="checkbox" class="form-check-input correct-check" id="exampleCheck1" disabled>
          {% endif %}
        {% endif %}
        <label class="form-check-label" for="exampleCheck1">Correct</label>
      </div>
    </div>
  </div>
</div>